# Chapter 4 - Writing, Debugging, and Testing Functions

In [1]:
// allow simplified WriteLine and other console method calls
using static System.Console;

## Writing a times table function

In [1]:
static void TimesTable(byte number)
{
  WriteLine($"This is the {number} times table:");

  for (int row = 1; row <= 12; row++)
  {
    WriteLine($"{row} x {number} = {row * number}");
  }
  WriteLine();
}

In [1]:
TimesTable(6) // semicolon is optional in a .NET notebook

This is the 6 times table:

1 x 6 = 6

2 x 6 = 12

3 x 6 = 18

4 x 6 = 24

5 x 6 = 30

6 x 6 = 36

7 x 6 = 42

8 x 6 = 48

9 x 6 = 54

10 x 6 = 60

11 x 6 = 66

12 x 6 = 72

In [1]:
TimesTable(number: 87) // optional to specify the parameter name

This is the 87 times table:

1 x 87 = 87

2 x 87 = 174

3 x 87 = 261

4 x 87 = 348

5 x 87 = 435

6 x 87 = 522

7 x 87 = 609

8 x 87 = 696

9 x 87 = 783

10 x 87 = 870

11 x 87 = 957

12 x 87 = 1044

## Writing a function that returns a value

In [1]:
static decimal CalculateTax(
  decimal amount, string twoLetterRegionCode)
{
  decimal rate = 0.0M;

  switch (twoLetterRegionCode)
  {
    case "CH": // Switzerland
      rate = 0.08M;
      break;
    case "DK": // Denmark
    case "NO": // Norway
      rate = 0.25M;
      break;
    case "GB": // United Kingdom
    case "FR": // France
      rate = 0.2M;
      break;
    case "HU": // Hungary
      rate = 0.27M;
      break;
    case "OR": // Oregon
    case "AK": // Alaska
    case "MT": // Montana
      rate = 0.0M;
      break;
    case "ND": // North Dakota
    case "WI": // Wisconsin
    case "ME": // Maine
    case "VA": // Virginia
      rate = 0.05M;
      break;
    case "CA": // California
      rate = 0.0825M;
      break;
    default: // most US states
      rate = 0.06M;
      break;
  }

  return amount * rate;
}

In [1]:
decimal taxToPay = CalculateTax(149, "FR"); 
WriteLine($"You must pay {taxToPay} in tax.");

You must pay 29.8 in tax.

## Converting numbers from cardinal to ordinal

In [1]:
/// <summary>
/// Pass a 32-bit integer and it will be converted into its ordinal equivalent.
/// </summary>
/// <param name="number">Number is a cardinal value e.g. 1, 2, 3, and so on.</param>
/// <returns>Number as an ordinal value e.g. 1st, 2nd, 3rd, and so on.</ returns>
static string CardinalToOrdinal(int number)
{
  switch (number)
  {
    case 11: // special cases for 11th to 13th
    case 12:
    case 13:
      return $"{number}th";
    default:
      int lastDigit = number % 10;

      string suffix = lastDigit switch
      {
        1 => "st",
        2 => "nd",
        3 => "rd",
        _ => "th"
      };
      return $"{number}{suffix}";
  }
}

In [1]:
static void RunCardinalToOrdinal()
{
  for (int number = 1; number <= 40; number++)
  {
    Write($"{CardinalToOrdinal(number)} ");
  }
  WriteLine();
}

In [1]:
RunCardinalToOrdinal()

## Calculating factorials with recursion

In [1]:
static int Factorial(int number)
{
  if (number < 1)
  {
    return 0;
  }
  else if (number == 1)
  {
    return 1;
  }
  else
  {
    checked // for overflow
    {
      return number * Factorial(number - 1);
    }
  }
}

In [1]:
static void RunFactorial()
{
  for (int i = 1; i < 15; i++)
  {
    try
    {
      WriteLine($"{i}! = {Factorial(i):N0}");
    }
    catch (System.OverflowException)
    {
      WriteLine($"{i}! is too big for a 32-bit integer.");
    }
  }
}

In [1]:
RunFactorial()

1! = 1

2! = 2

3! = 6

4! = 24

5! = 120

6! = 720

7! = 5,040

8! = 40,320

9! = 362,880

10! = 3,628,800

11! = 39,916,800

12! = 479,001,600

13! is too big for a 32-bit integer.

14! is too big for a 32-bit integer.

## Using lambdas in function implementations

In [1]:
static int FibImperative(int term)
{
  if (term == 1)
  {
    return 0;
  }
  else if (term == 2)
  {
    return 1;
  }
  else
  {
    return FibImperative(term - 1) + FibImperative(term - 2);
  }
}

In [1]:
static void RunFibImperative()
{
  for (int i = 1; i <= 30; i++)
  {
    WriteLine("The {0} term of the Fibonacci sequence is {1:N0}.",
      arg0: CardinalToOrdinal(i),
      arg1: FibImperative(term: i));
  }
}

In [1]:
RunFibImperative()

The 1st term of the Fibonacci sequence is 0.

The 2nd term of the Fibonacci sequence is 1.

The 3rd term of the Fibonacci sequence is 1.

The 4th term of the Fibonacci sequence is 2.

The 5th term of the Fibonacci sequence is 3.

The 6th term of the Fibonacci sequence is 5.

The 7th term of the Fibonacci sequence is 8.

The 8th term of the Fibonacci sequence is 13.

The 9th term of the Fibonacci sequence is 21.

The 10th term of the Fibonacci sequence is 34.

The 11th term of the Fibonacci sequence is 55.

The 12th term of the Fibonacci sequence is 89.

The 13th term of the Fibonacci sequence is 144.

The 14th term of the Fibonacci sequence is 233.

The 15th term of the Fibonacci sequence is 377.

The 16th term of the Fibonacci sequence is 610.

The 17th term of the Fibonacci sequence is 987.

The 18th term of the Fibonacci sequence is 1,597.

The 19th term of the Fibonacci sequence is 2,584.

The 20th term of the Fibonacci sequence is 4,181.

The 21st term of the Fibonacci sequence is 6,765.

The 22nd term of the Fibonacci sequence is 10,946.

The 23rd term of the Fibonacci sequence is 17,711.

The 24th term of the Fibonacci sequence is 28,657.

The 25th term of the Fibonacci sequence is 46,368.

The 26th term of the Fibonacci sequence is 75,025.

The 27th term of the Fibonacci sequence is 121,393.

The 28th term of the Fibonacci sequence is 196,418.

The 29th term of the Fibonacci sequence is 317,811.

The 30th term of the Fibonacci sequence is 514,229.

In [1]:
static int FibFunctional(int term) => 
  term switch
  {
    1 => 0,
    2 => 1,
    _ => FibFunctional(term - 1) + FibFunctional(term - 2)
  };

In [1]:
static void RunFibFunctional()
{
  for (int i = 1; i <= 30; i++)
  {
    WriteLine("The {0} term of the Fibonacci sequence is {1:N0}.",
      arg0: CardinalToOrdinal(i),
      arg1: FibFunctional(term: i));
  }
}

In [1]:
RunFibFunctional()

The 1st term of the Fibonacci sequence is 0.

The 2nd term of the Fibonacci sequence is 1.

The 3rd term of the Fibonacci sequence is 1.

The 4th term of the Fibonacci sequence is 2.

The 5th term of the Fibonacci sequence is 3.

The 6th term of the Fibonacci sequence is 5.

The 7th term of the Fibonacci sequence is 8.

The 8th term of the Fibonacci sequence is 13.

The 9th term of the Fibonacci sequence is 21.

The 10th term of the Fibonacci sequence is 34.

The 11th term of the Fibonacci sequence is 55.

The 12th term of the Fibonacci sequence is 89.

The 13th term of the Fibonacci sequence is 144.

The 14th term of the Fibonacci sequence is 233.

The 15th term of the Fibonacci sequence is 377.

The 16th term of the Fibonacci sequence is 610.

The 17th term of the Fibonacci sequence is 987.

The 18th term of the Fibonacci sequence is 1,597.

The 19th term of the Fibonacci sequence is 2,584.

The 20th term of the Fibonacci sequence is 4,181.

The 21st term of the Fibonacci sequence is 6,765.

The 22nd term of the Fibonacci sequence is 10,946.

The 23rd term of the Fibonacci sequence is 17,711.

The 24th term of the Fibonacci sequence is 28,657.

The 25th term of the Fibonacci sequence is 46,368.

The 26th term of the Fibonacci sequence is 75,025.

The 27th term of the Fibonacci sequence is 121,393.

The 28th term of the Fibonacci sequence is 196,418.

The 29th term of the Fibonacci sequence is 317,811.

The 30th term of the Fibonacci sequence is 514,229.